.header-default {
    font-family: Arial, sans-serif;
    color: #62b34f;
}

.header-primary {
    font-family: 'Poppins';
    color: #62b34f;
}

.header-secondary {
    font-family: 'Georgia', serif;
    color: #62b34f;
}